@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #3E8DA8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
}

.search-box .input-box::before {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .logo a {
        font-size: 27px;
    }
    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    .navbar .bx-menu {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background-color: black;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }
    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow {
        line-height: 40px;
    }
    nav .navbar .links li {
        display: block;
    }
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }
    .navbar .links li .sub-menu .more span {
        display: flex;
        align-items: center;
    }
    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}


/**/

.first_container {
    position: relative;
    border-bottom: 6px solid gray;
}

.overlay-all {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.clip>video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.information-first_container {
    position: relative;
    margin: 70px auto;
    max-width: 1200px;
    text-align: center;
    padding: 300px 0px;
}

.information-first_container>div>h1 {
    font-size: 80px;
    color: rgb(255, 0, 0);
}

.information-first_container>div>h2 {
    font-size: 30px;
    color: white;
}

.information-first_container>div>p {
    color: white;
    font-style: italic;
}


/**/

.container {
    margin: 100px auto 100px;
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container .cover::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7d2ae8;
    opacity: 0.5;
    z-index: 100;
}

.container .cover::after {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7d2ae8;
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
}

.container .cover .back .backImg {
    transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.container .cover .text {
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
}

.cover .back .text .text-1,
.cover .back .text .text-2 {
    transform: rotateY(180deg);
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container form {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

form .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

form .form-content .title:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
}

form .signup-form .title:before {
    width: 20px;
}

form .form-content .input-boxes {
    margin-top: 30px;
}

form .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #7d2ae8;
}

.form-content .input-box i {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

form .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

form .form-content .text a {
    text-decoration: none;
}

form .form-content .text a:hover {
    text-decoration: underline;
}

form .form-content .button {
    color: #fff;
    margin-top: 40px;
}

form .form-content .button input {
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .form-content .button input:hover {
    background: #5b13b9;
}

form .form-content label {
    color: #5b13b9;
    cursor: pointer;
}

form .form-content label:hover {
    text-decoration: underline;
}

form .form-content .login-text,
form .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }
    .form-content .signup-form {
        display: none;
    }
    .container #flip:checked~form .signup-form {
        display: block;
    }
    .container #flip:checked~form .login-form {
        display: none;
    }
}


/**/

.container-2 {
    background-image: url(https://webgiay.com/wp-content/uploads/2017/04/17478_42_11902357_1015803855131083_4243193514304185836_n.jpg);
    position: relative;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 7px solid rgb(112, 108, 108);
}

.overlay-1 {
    opacity: 0.8;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
}

.information_container-2 {
    padding: 40px 0px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Title_container-2 {
    padding: 40px 0px;
    position: relative;
}

.Title_container-2>h1 {
    font-size: 50px;
    color: rgb(252, 0, 0);
    padding: 20px 0px;
}

.Title_container-2>p {
    color: white;
    font-size: 20px;
    font-style: italic;
}

.Title_container-2>button {
    margin: 50px 0px;
    color: #fff;
    padding: 12px 38px;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    border-radius: 45px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.image_container-2 {
    position: relative;
}


/**/

.container-3 {
    background-color: rgb(0, 0, 0);
    padding: 70px 0px;
    border-top: 6px solid gray;
}

.list-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list-container>div>div {
    width: 200px;
    background-color: rgb(158, 158, 9);
    height: 2px;
    margin-top: 10px;
}

.list-container>div>h1 {
    color: rgba(160, 160, 12, 0.63);
}

.list-container>div>h3 {
    color: white;
}


/*.............................................................................................*/

.container11 {
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg);
}

.cotainer-11 {
    padding: 30px 0px;
    text-align: center;
    border-top: 5px solid gray;
}

.container-11>h1 {
    font-size: 40px;
    color: rgb(201, 12, 12);
    margin: 40px 0px;
}

.all-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper {
    margin: 20px 0px;
    height: 500px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}

.wrapper .back-face>button {
    margin: 50px 0px;
    color: #fff;
    padding: 12px 38px;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    border-radius: 45px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.wrapper .back-face>button:hover {
    transform: scale(1.1);
    transition: 2s;
}

.btn-wrapper {
    text-align: center;
    padding: 40px 0px;
    border: none;
}

.btn-wrapper>button {
    padding: 10px 30px;
    background: #7d2ae8;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-wrapper>button:hover {
    background: #9158db;
}


/*.............................................................................................*/

.container-4 {
    position: relative;
    background-image: url(https://product.hstatic.net/1000282067/product/adidas_eqt_support_mid_adv_black_sub_green_cq2998-3_b6f60beeeaf34dafb4a7ad292fa47482.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 6px solid gray;
}

.overlay-2 {
    position: absolute;
    background-color: black;
    width: 100%;
    opacity: 0.7;
    height: 100%;
}

.thank-you {
    position: relative;
    margin: auto;
    padding: 80px 0px;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-style: italic;
}

.thank-you>h1 {
    color: rgb(133, 133, 2);
    padding: 30px 0px;
}

.thank-you>p {
    font-size: 20px;
}


/*.............................................................................................*/

.container-5 {
    border-top: 7px solid gray;
    background-color: rgb(20, 20, 20);
}

.address {
    max-width: 1200px;
    margin: auto;
}

.list-address {
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}

.company-address {
    color: white;
}

.contact>a {
    color: white;
    display: flex;
    margin: 10px 0px;
    text-decoration: none;
    align-items: center;
}

.contact>a>i {
    font-size: 30px;
    padding-right: 20px;
}


/*

body {
    background: #eee;
}

.container {
    width: 40%;
    margin: 30px auto;
}

.tag-container {
    border: 2px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

.tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
}

.td1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    margin: 20px;
}

.fa-arrow-circle-down {
    font-size: 20px;
}

.noi-dung {
    display: none;
}

.active {
    background-color: rgb(91, 91, 224);
}
*/

.buttons .button {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 38px;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    border-radius: 45px;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.buttons .button.two {
    background: linear-gradient(90deg, #025ce3, #4e94fd);
}

.buttons .button .overlay1 {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: blink 1s linear;
}

@keyframes blink {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0.7;
    }
    100% {
        height: 400px;
        width: 400px;
        opacity: 0;
    }
}


/**/

footer {
    background: #000000;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #424242;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #4c4b4e;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #242329;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}


/**/

.feeb-back {
    background-color: #424242;
    color: #E1306C;
}

.feeb-back>h1 {
    text-align: center;
    padding-top: 40px;
}

#slider-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img {
    width: 250px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-detail {
    padding: 20px;
    background: linear-gradient(90deg, #202020 20%, #222222);
    width: 500px;
    border-radius: 0px 10px 10px 0px;
}

.slider-detail>strong {
    color: #e4e4e4;
    font-size: 1.2rem;
    font-weight: 600;
}

.rating {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.rating>a>i {
    color: #ffdf00;
    margin: 0px 2px;
}

.slider-detail>p {
    color: #8f8f8f;
    font-size: 0.9rem;
    margin: 10px 0px 10px 0px;
}

.movie-cast {
    display: flex;
    align-items: center;
}

.movie-cast a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 4px;
}

.movie-cast>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.more-cast {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    color: white;
    font-weight: 600px;
    margin: 0px 4px;
}

.card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-btn a {
    min-width: 160px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 0.9rem;
}

.play-btn {
    background-color: rgb(57, 57, 219);
}

.play-btn i {
    margin-right: 10px;
}

.trailer-btn {
    color: white;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
}

.card-btn a:hover {
    background-color: palevioletred;
    transition: all ease 0.3s;
    color: #ffffff;
    border: none;
    opacity: 1;
}

@media (max-width:820px) {
    .slider-box {
        flex-direction: column;
    }
    .slider-detail {
        width: 230px;
        height: auto;
    }
    .card-btn {
        flex-direction: column;
    }
    .slider-img {
        width: 230px;
        border-radius: 10px 10px 0px 10px;
    }
    .slider-detail strong {
        font-size: 1rem;
        border-radius: 0px;
        margin: 5px 0px;
    }
    .swiper-slide {
        width: 230px !important;
    }
}


/**/

.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem 2rem;
    z-index: 9999;
}

.header-wrapper .header {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
}

.header-wrapper .menu-wrapper {
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
    width: 2.5rem;
    height: 3rem;
    right: 0;
    margin: 0;
    text-align: left;
}

.header-wrapper .menu-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper .menu-hamburger {
    position: relative;
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    background: white;
    height: 1px;
    cursor: pointer;
    right: 0;
    top: 1rem;
}

.header-wrapper .menu-hamburger::before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: white;
    position: absolute;
    top: -0.8rem;
    left: 0;
}

.header-wrapper .menu-hamburger::after {
    content: "";
    width: 2rem;
    height: 1px;
    background: white;
    position: absolute;
    top: 0.8rem;
    left: 0;
}

.header-wrapper .nav-wrapper {
    position: relative;
    float: right;
}

.header-wrapper nav {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 700;
    color: white;
}

.header-wrapper nav ul {
    padding: 0;
    display: block;
    list-style: none;
}

.header-wrapper nav ul:after {
    content: "";
    display: table;
    clear: both;
}

.header-wrapper nav li {
    float: left;
    margin: 0 1.2rem;
}

.header-wrapper nav li:last-child {
    margin-left: 0;
}

.lines-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.lines-wrapper span.vertical {
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    top: 12%;
    left: 0;
    z-index: 1;
    opacity: 0.05;
}

.lines-wrapper .croses span {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 11%;
    left: calc(20% - 2px);
}

.lines-wrapper .croses span:nth-child(2) {
    left: calc(40% - 2px);
}

.lines-wrapper .croses span:nth-child(3) {
    left: calc(60% - 2px);
}

.lines-wrapper .croses span:nth-child(4) {
    left: calc(80% - 2px);
}

.lines-wrapper span.horizontal {
    position: absolute;
    width: 1px;
    height: 100%;
    background: white;
    z-index: 1;
    left: 20%;
    opacity: 0.05;
}

.lines-wrapper span.horizontal:nth-child(2) {
    left: 40%;
}

.lines-wrapper span.horizontal:nth-child(3) {
    left: 60%;
}

.lines-wrapper span.horizontal:nth-child(4) {
    left: 80%;
}

.slider-content {
    overflow: hidden;
    position: relative;
    max-width: 112rem;
    min-width: 480px;
    background: rgb(0, 0, 0);
    margin: 0 auto;
    text-align: center;
}

.slider-content>h1 {
    color: white;
}

.slider-content .slider-container {
    position: relative;
    height: 50rem;
}

.slider-content .slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-content .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
    opacity: 0;
}

.slider-content .slide:after {
    content: "";
    display: table;
    clear: both;
}

.slider-content .slide.active {
    opacity: 1;
    z-index: 50;
}

.slider-content .slide.next {
    opacity: 1;
}

.slider-content .slide.red {
    background-color: #EE4654;
}

.slider-content .slide.blue {
    background-color: #6989E0;
}

.slider-content .slide.green {
    background-color: #6cd779;
}

.slider-content .slide.grey {
    background-color: #bcbcbc;
}

.slider-content .canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.slider-content .fake-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
}

.slider-content .fake-bg.red {
    background-image: url(https://giaysihonganh.vn/uploads/source/san-pham/giay-addidas/adidas-prophere-xam.jpg);
    background-color: #EE4654;
}

.slider-content .fake-bg.blue {
    background-image: url(https://vcdn-giaitri.vnecdn.net/2020/07/06/air-jordan-1-dior-1815-1594004966.jpg);
    background-color: #6989E0;
}

.slider-content .fake-bg.green {
    background-image: url(https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/skwgyqrbfzhu6uyeh0gg/air-max-270-shoe-7RW243.png);
    background-color: #6cd779;
}

.slider-content .fake-bg.grey {
    background-image: url(https://bizweb.dktcdn.net/100/347/923/products/166800v-4.jpg?v=1594276040037);
    background-color: #bcbcbc;
}

.slider-content .image-mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 125%;
    overflow: hidden;
}

.slider-content .image-mask img {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    top: -45px;
}

.slider-content .mask-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -5rem;
}

.slider-content .mask-animation img.clip {
    width: 100%;
    -webkit-clip-path: url(#svgPathBig);
    clip-path: url(#svgPathBig);
}

.slider-content .image-caption {
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    top: 20rem;
    left: 12rem;
    font-size: 1.3rem;
    z-index: 10;
    clip: rect(0rem, 21rem, 12rem, 0px);
    display: inline-block;
    transition: all 0.3s ease;
}

.slider-content .image-caption.mask-up {
    clip: rect(0rem, 0rem, 12rem, 0px);
}

.slider-content .image-caption.mask-down {
    clip: rect(0rem, 21rem, 2rem, 200px);
}

.slider-content .image-caption span {
    display: inline-block;
    vertical-align: top;
}

.slider-content .image-caption .line {
    position: relative;
    background: white;
    height: 1px;
    width: 5rem;
    top: 1rem;
}

.slider-content .title-background {
    position: absolute;
    font-size: 25rem;
    font-family: Narziss;
    top: 8rem;
    left: 4rem;
    color: black;
    opacity: 0.03;
    text-align: right;
}

.slider-content .title-background span.mask-wrap {
    display: block;
    height: 25rem;
    position: relative;
}

.slider-content .title-background span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0rem, 120rem, 25rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-background span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-background span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 120rem, 0rem, 0px);
}

.slider-content .title-background span.mask-wrap.mask-down span.mask {
    clip: rect(25rem, 44rem, 25rem, 0px);
}

.slider-content .title-wrapper {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: right;
    margin-top: 25rem;
    z-index: 5;
}

.slider-content .title-wrapper h1 {
    font-size: 12rem;
    margin: 0;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 900;
    text-align: right;
    font-family: Narziss-medium;
    margin-left: 5rem;
}

.slider-content .title-wrapper h1 span.mask-wrap {
    display: block;
    height: 12rem;
    position: relative;
}

.slider-content .title-wrapper h1 span.mask-wrap span.mask {
    position: absolute;
    top: 0;
    right: 0;
    clip: rect(0rem, 48rem, 12rem, 0px);
    transition: all 0.3s ease-in;
}

.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
    transition-delay: 0.15s;
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
    clip: rect(0rem, 44rem, 0rem, 0px);
}

.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
    clip: rect(12rem, 44rem, 12rem, 0px);
}

.slider-content .title-wrapper span.gallery {
    position: relative;
    text-align: right;
    padding: 0 2rem;
    cursor: pointer;
    margin-right: 5rem;
}

.slider-content .title-wrapper span.gallery::before {
    content: "";
    position: absolute;
    left: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    top: -0.5rem;
    opacity: 0.9;
}

.slider-content .title-wrapper span.gallery::after {
    content: "";
    position: absolute;
    right: -2rem;
    display: block;
    width: 1px;
    height: 2.5rem;
    background: white;
    top: -0.5rem;
    opacity: 0.9;
}

.control-nav {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.control-nav ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.control-nav li {
    position: relative;
    margin: 0.2rem 0;
    opacity: 0.5;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
}

.control-nav li.active {
    opacity: 1;
}

.control-nav li.active .line {
    transform: translateX(-1.2rem);
    width: 1.8rem;
}

.control-nav li.active .number {
    opacity: 1;
}

.control-nav .line {
    width: 1.5rem;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    background: white;
    left: -1rem;
    transition: all 0.3s ease;
}

.control-nav .number {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.social-icons {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    z-index: 999;
}

.social-icons ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons ul li {
    position: relative;
    display: block;
    padding: 0.3rem 0;
}

.social-icons ul a {
    display: block;
    width: 2rem;
    height: 2rem;
}

.social-icons ul a svg {
    fill: white;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-wrapper {
    position: absolute;
    color: white;
    bottom: 0rem;
    right: 0rem;
    width: 60%;
    height: 6rem;
    z-index: 999;
}

.footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}

.footer-wrapper ul:after {
    content: "";
    display: table;
    clear: both;
}

.footer-wrapper li {
    position: relative;
    float: left;
    width: 25%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.footer-wrapper li:last-child {
    border: none;
}

.footer-wrapper li.active .hover-box {
    opacity: 1;
    transform: scale(1.15);
}

.footer-wrapper li .hover-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #473243;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
    z-index: 1;
}

.footer-wrapper li .box-content {
    position: relative;
    z-index: 5;
}